@font-face {
	font-family: press-start-k;
	src: url("../font/PressStartK.ttf");
}

body {
	background: #F58DB6;
	line-height: 1.125em;
}

.banner {
	image-rendering: pixelated;
	width : 100%;
	margin-bottom: 1em
}

.content {
	margin: auto;
	max-width: 1000px;
}

.nav-bar {
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 80%;
}

.nav-bar-btn {
	display: inline-block;
	width: 20%;	
}

.nav-first {
	image-rendering: pixelated;
	width: 16%;
}

.nav-back {
	image-rendering: pixelated;
	width: 16%;
}

.nav-next {
	image-rendering: pixelated;
	width: 16%;
}

.nav-last {
	image-rendering: pixelated;
	width: 16%;
}

.nav-divider {
	image-rendering: pixelated;
	width: 4%;
}

/* Top Tape Overlays */
.text::before, .text-aubrey::before, .text-grey::before, .quote::before, .prompt::before {
	display: none;
	background: none;
}

.text {
	position: relative;
	margin: auto;
	line-height: 1.5em;
	padding: 1.5em;
	border: solid 0.3333em #0FF4C6;
	border-radius: .25em;
}

.text > h1 {
	margin: auto;
	width: auto;
	color: #0FF4C6;
	text-align: center;
	font-family: press-start-k;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
}

.text > h1::before {
	content: "["
}

.text > h1::after {
	content: "]"
}

.text-wrapper {
	position: relative;
	width: 60%;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	color: #FFF;
	background: #000;
	border: solid 0.1667em #000;
	border-radius: 0.4967em;
	font-family: press-start-k;
	box-shadow: none;
}

/* BATTLE TUTORIAL STYLES */

.text-tutorial > h1 {
	margin: auto;
	width: auto;
	color: #fff;
	text-align: center;
	font-family: press-start-k;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
}

.text-tutorial > h1::before {
	content: "["
}

.text-tutorial > h1::after {
	content: "]"
}

.text-tutorial {
	position: relative;
	line-height: 1.5em;
	margin: auto;
	padding: 2em;	
	border: solid 0.3333em #fff;
	border-radius: 2em;
}

.text-tutorial-wrapper {
	position: relative;
	width: 80%;	
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	color: #fff;
	background: #000;
	border: solid 0.1667em #000;
	border-radius: 2.1667em;
	font-family: press-start-k;
	box-shadow: none;
}


/* DEX STYLES */

.text-dex-wrapper {
	position: relative;
	width: 80%;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	color: #fff;
	background: #000;
	border: solid 0.1667em #000;
	border-radius: 0.4967em;
	font-family: press-start-k;
	box-shadow: none;
}

.text-dex {
	position: relative;
	margin: auto;
	line-height: 1.25em;
	padding: 1.5em;
	border: solid 0.3333em #FFF07C;
	border-radius: .25em;
}


.text-dex > h1 {
	margin: auto;
	width: auto;
	color: #FFF07C;
	text-align: center;
	font-family: press-start-k;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: normal;
	text-transform: uppercase;
}

.text-dex > h2 {
	margin: auto;
	width: auto;
	color: #FFF07C;
	text-align: center;
	font-family: press-start-k;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: normal;
	text-transform: capitalize;
}

.text-dex > h1::before {
	content: "** "
}

.text-dex > h1::after {
	content: " **"
}


.text-dex > hr {
	border: none;
	border-top: 4px dotted #FFF;
	margin-top: .25em;
	margin-bottom: 1em;
}

/* BATTLE LOG STYLES */

.text-batlog-wrapper {
	position: relative;
	width: 80%;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	color: #fff;
	background: #000;
	border: solid 0.1667em #000;
	border-radius: 0.4967em;
	font-family: press-start-k;
	box-shadow: none;
}

.text-batlog {
	position: relative;
	margin: auto;
	text-align: center;
	line-height: 1.25em;
	padding: 1.5em;
	border: solid 0.3333em #48639C;
	border-radius: .25em;
}


.text-batlog > h1 {
	margin: auto;
	width: auto;
	color: #48639C;
	text-align: center;
	font-family: press-start-k;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
}

.text-batlog > h1::before {
	content: "** "
}

.text-batlog > h1::after {
	content: " **"
}


/* BATTLE MENU STYLES */

.text-batmenu-wrapper {
	position: relative;
	width: 60%;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	color: #fff;
	background: #000;
	border: solid 0.1667em #000;
	border-radius: 0.4967em;
	font-family: press-start-k;
	box-shadow: none;
}

.text-batmenu {
	position: relative;
	margin: auto;
	line-height: 1.25em;
	padding: 1.5em;
	border: solid 0.3333em #F3C98B;
	border-radius: .25em;
}


.text-batmenu > h1 {
	margin: auto;
	width: auto;
	color: #F3C98B;
	text-align: center;
	font-family: press-start-k;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
}

.text-batmenu > h1::before {
	content: "** "
}

.text-batmenu > h1::after {
	content: " **"
}


/* AUBREY TEXT */

.text-aubrey {
	position: relative;
	margin: auto;
	padding: 2em;	
	border: solid 0.3333em #F2A433;
	border-radius: 2em;
}

.text-aubrey-wrapper {
	position: relative;
	width: 80%;	
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	color: #FFF;
	background: #000;
	border: solid 0.1667em #000;
	border-radius: 2.1667em;
	font-family: press-start-k;
	box-shadow: none;
}

.text-aubrey > h1 {
	margin: auto;
	width: auto;
	color: #F2A433;
	text-align: left;
	font-family: press-start-k;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
}

.text-aubrey > h1::before {
	content: "["
}

.text-aubrey > h1::after {
	content: "]"
}

/* RAHASYA TEXT */

.text-grey {
	position: relative;
	margin: auto;
	padding: 2em;	
	border: solid 0.3333em #808080;
	border-radius: 2em;
}

.text-grey-wrapper {
	position: relative;
	width: 80%;	
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	color: #FFF;
	background: #000;
	border: solid 0.1667em #000;
	border-radius: 2.1667em;
	font-family: press-start-k;
	box-shadow: none;
}

.text-grey > h1 {
	margin: auto;
	width: auto;
	color: #808080;
	text-align: left;
	font-family: press-start-k;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
}

.text-grey > h1::before {
	content: "["
}

.text-grey > h1::after {
	content: "]"
}

.quote {
	position: relative;
	margin: auto;
	padding: 1.5em;
	border: solid 0.3333em #FFF;
	border-radius: .25em;
}

.quote-wrapper {
	position: relative;
	margin: auto;
	margin-top: 2.3333em;
	margin-bottom: 2em;
	padding: 0em;
	max-width: 70%;
	color: #FFF;
	background: #000;
	border: solid 0.1667em #000;
	border-radius: 0.4967em;
	font-family: press-start-k;
	box-shadow: none;
}

.quote > h1 {
	padding-bottom: 0em;
	font-family: press-start-k;
	font-weight: normal;
	font-size: 1em;
	text-transform: uppercase;
}

.quote > h1::before {
	content: "[";
}

.quote > h1::after	 {
	content: "]";
}

.quote > h2 {
	padding-bottom: .5em;
	text-indent: 1em;
	font-family: press-start-k;
	font-weight: normal;
	font-size: 1em;
	text-indent: 0px;
	text-transform: uppercase;
}

.quote > h2::before {
	content: "> ";
}

.quote > hr {
	border: none;
	border-top: 4px dotted #FFF;
	margin-top: .25em;
	margin-bottom: 1em;
}

.prompt {
	position: relative;
	margin: auto;
	padding: 0em;
	padding-bottom: 1.5em;
	border: solid 0.3333em #FFF;
	border-radius: .25em;
}

.prompt-wrapper {
	position: relative;
	margin: auto;
	width: 60%;	
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 0em;
	color: #FFF;
	background: #000;
	border: solid 0.1667em #000;
	border-radius: 0.4967em;
	text-align: left;
	line-height: 1.25em;
	font-size: 12pt;
	font-family: press-start-k;
	box-shadow: none;
}

.prompt > h1 {
	margin: auto;
	margin-bottom: .5em;
	padding: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	color: #000;
	background-color: #FFF;
	outline: solid 2px #FFF;
	text-align: center;
	font-weight: normal;
	font-size: 1em;
	font-family: press-start-k;
}

.prompt > p {
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.blog {
	margin: auto;
	padding: 1.5em;
	margin: .25em;
	border: solid 0.1667em #000;
}

.blog-wrapper {
	margin: auto;
	margin-top: 1em;
	margin-bottom: 2em;
	max-width: 1000px;
	background-color: #FFF;
	border: solid 0.1667em #000;
	border-radius: 0.4967em;
	color: #000;
	font-family: press-start-k;
	box-shadow: none;
}

.blog > h1 {
	padding-bottom: 0em;
	font-size: 1em;
	font-family: press-start-k;
	font-weight: normal;
}

.blog > h2 {
	padding-top: 0em;
	padding-bottom: .25em;
	font-size: 1em;
	text-indent: 1em;
	font-family: press-start-k;
	font-weight: normal;
	color: #888;
}